In [1]:
pwd

'/Users/wangjian/Kaggle-Comp/titanic'

In [2]:
ls

Untitled.ipynb  titanic/

In [3]:
ls titanic

gender_submission.csv* test.csv*              train.csv*

In [4]:
import pandas as pd

In [6]:
sub = pd.read_csv('titanic/gender_submission.csv')
train_data = pd.read_csv('titanic/train.csv')
test_data = pd.read_csv('titanic/test.csv')

In [9]:
train_data.shape

(891, 12)

In [34]:
sub

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [10]:
test_data.shape

(418, 11)

In [11]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [13]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [14]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [15]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [22]:
train_data['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [23]:
ls

Untitled.ipynb  input/          titanic1.py

In [24]:
ls input

gender_submission.csv* test.csv*              train.csv*

In [27]:
import pandas as pd
import numpy as np
from math import sqrt
from xgboost import XGBRegressor

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Imputer

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

from sklearn.metrics import accuracy_score

# 1 数据导入
file_path = 'input/train.csv'
data = pd.read_csv(file_path)
data_cate = data.select_dtypes(['object'])
data_without_cate = data.select_dtypes(exclude=['object'])
one_hot_data_cate = pd.get_dummies(data_cate)
data_dummy = pd.concat([data_without_cate, one_hot_data_cate], axis=1)

# 2 选取变量
y = data_dummy.Survived
X = data_dummy.drop(['Survived'], axis=1)
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

# 3 建模讯模
my_pipeline = make_pipeline(Imputer(), XGBRegressor(n_estimators=1000, learning_rate=0.05))
my_pipeline.fit(train_X, train_y)

# 4 误差验证
val_preds = my_pipeline.predict(val_X)
val_preds

/usr/local/lib/python3.7/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
/usr/local/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

array([ 9.22284007e-01,  3.76802087e-02,  8.98836970e-01,  6.64727509e-01,
        9.42778766e-01,  4.25734818e-02,  2.94422805e-02,  9.34010983e-01,
        2.53764093e-01,  6.83638871e-01,  4.25734818e-02,  4.63364214e-01,
        1.36643887e-01,  3.00073922e-02,  6.63864851e-01,  2.18891501e-01,
        1.89058483e-02,  4.60164249e-02,  3.20268571e-02,  8.31640601e-01,
        5.14788330e-02,  9.44443643e-02,  9.81350303e-01,  1.05699748e-01,
        7.23934233e-01,  4.60164249e-02,  9.95191693e-01,  8.68032813e-01,
        4.60164249e-02,  9.64366436e-01,  4.59785253e-01,  1.96700305e-01,
        1.74642652e-01,  4.59785253e-01,  8.49253833e-02,  6.46396577e-01,
        2.24353790e-01,  1.72295570e-02,  2.63706595e-01,  4.40375209e-02,
        4.63364214e-01,  4.63364214e-01,  9.46055174e-01,  1.78621322e-01,
        9.94358242e-01,  2.00993717e-02, -5.25212288e-03,  4.54513133e-02,
        5.80574214e-01,  9.05417204e-02,  8.95338058e-02,  8.63704681e-01,
        6.26912713e-02,  4.65855598e-02,  3.00073922e-02,  4.83652025e-01,
        4.11231518e-02,  2.91278929e-01, -1.44952536e-03,  4.61249292e-01,
        1.40850991e-01,  1.08714670e-01,  9.84852314e-02,  1.55664235e-01,
        2.70760953e-01,  6.46071553e-01,  1.27867103e-01,  1.05560124e-01,
        7.12366402e-01,  2.79374719e-02,  6.21408224e-03,  2.90784836e-02,
        3.51397187e-01,  4.25734818e-02,  8.59161377e-01,  1.76866233e-01,
        9.44351435e-01,  8.80480111e-02,  2.63353050e-01,  1.00527799e+00,
        1.12524718e-01,  9.22656059e-03,  4.60164249e-02, -2.05497146e-02,
        9.01165664e-01,  4.60164249e-02,  4.60164249e-02,  1.08714670e-01,
        1.67503446e-01,  7.22903788e-01,  2.26526409e-01,  1.21492505e-01,
        9.29585695e-02,  6.69134140e-01,  4.60164249e-02,  2.94367403e-01,
       -8.49187374e-04,  6.41988635e-01,  5.92483282e-02,  4.25734818e-02,
        3.43667626e-01,  1.36327744e-01,  8.95338058e-02,  6.71020389e-01,
        1.02568948e+00,  4.60164249e-02,  3.00073922e-02,  4.25734818e-02,
       -5.25212288e-03,  4.54513133e-02,  4.00197208e-01,  8.16665292e-02,
        3.65798771e-02,  2.83453166e-02,  4.60164249e-02,  3.87009978e-02,
        3.00073922e-02,  3.10955942e-01,  8.94348145e-01,  4.65247661e-01,
        8.88885736e-01,  1.74431354e-01,  2.65644491e-02,  6.26912713e-02,
        9.51918721e-01,  9.65308547e-01,  8.68597984e-01,  4.50450361e-01,
        9.22656059e-03,  8.80480111e-02,  4.25734818e-02,  2.79374719e-02,
        8.69933486e-01,  4.01463896e-01,  3.23132455e-01,  9.29563403e-01,
        1.01819432e+00,  6.62683547e-02, -3.85360122e-02,  4.50450361e-01,
        9.54472899e-01,  4.54513133e-02,  1.02044797e+00,  4.59785253e-01,
        1.72295570e-02,  5.05071223e-01,  5.14788330e-02,  3.00073922e-02,
        3.77027452e-01,  4.25734818e-02,  7.03894138e-01, -1.94395781e-02,
        8.68314803e-02,  6.68775499e-01,  1.25567108e-01,  5.14788330e-02,
        3.32385898e-02,  3.26734781e-02,  9.01165664e-01,  4.60164249e-02,
        4.54513133e-02,  4.60164249e-02,  4.54029322e-01,  1.73743188e-01,
       -9.79471207e-03,  7.05299437e-01,  8.31640601e-01,  1.25567108e-01,
        9.05417204e-02,  3.88699114e-01,  1.18640339e+00,  1.76405877e-01,
        9.37423289e-01,  4.81325686e-02,  9.22284007e-01,  1.36892855e-01,
        8.80480111e-02,  9.29585695e-02,  8.55894506e-01,  6.10235035e-02,
        9.81471777e-01,  8.74060392e-01,  4.52153087e-02,  3.18017304e-02,
        9.64366436e-01,  6.26912713e-02,  4.60164249e-02,  9.77814913e-01,
        8.80480111e-02,  9.28860128e-01,  1.73743188e-01,  1.78621322e-01,
        6.63864851e-01,  6.95964515e-01,  7.08387554e-01,  9.76260185e-01,
       -1.00030303e-02,  9.05411601e-01,  4.60164249e-02,  2.15379536e-01,
        3.30230892e-02,  9.36697483e-01,  1.08714670e-01,  9.44443643e-02,
        1.97950929e-01,  8.68597984e-01,  9.59069729e-01,  3.00073922e-02,
        2.18891501e-01, -1.03599429e-02,  9.72125113e-01,  4.31518555e-02,
        8.16665292e-02,  8.03992927e-01,  5.14788330e-02,  5.14788330e-02,
        4.30714488e-02,  9.93121505e-01,  8.94348145e-01,  1.90434426e-01,
        2.68191636e-01,  9.27650034e-02,  1.90434426e-01], dtype=float32)

In [30]:
val_pre = [int(item>0.5) for  item in val_preds]
val_pre

[1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0]

In [31]:
score = accuracy_score(val_pre, val_y)
print("Accuracy: %2f" %score)

Accuracy: 0.789238

In [32]:
import pandas as pd
import numpy as np
from math import sqrt
from xgboost import XGBRegressor

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Imputer

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

from sklearn.metrics import accuracy_score

# 1 数据导入
file_path = 'input/train.csv'
data = pd.read_csv(file_path)
data_cate = data.select_dtypes(['object'])
data_without_cate = data.select_dtypes(exclude=['object'])
one_hot_data_cate = pd.get_dummies(data_cate)
data_dummy = pd.concat([data_without_cate, one_hot_data_cate], axis=1)

# 2 选取变量
y = data_dummy.Survived
X = data_dummy.drop(['Survived'], axis=1)
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

# 3 建模讯模
my_pipeline = make_pipeline(Imputer(), XGBRegressor(n_estimators=1000, learning_rate=0.05))
my_pipeline.fit(train_X, train_y)
# 4 误差验证
val_preds = my_pipeline.predict(val_X)
val_pre = [int(item>0.5) for  item in val_preds]
score = accuracy_score(val_pre, val_y)
print("Accuracy: %2f" %score)

# 5 全数据训练模型
pipeline_on_full_data = make_pipeline(Imputer(), XGBRegressor(n_estimators=1000, learning_rate=0.05))
pipeline_on_full_data.fit(X, y, early_stopping_rounds=5, verbose=False)

# 6 模型预测结果组
test_data_path = 'input/test.csv'
test_data = pd.read_csv(test_data_path)
one_hot_test_data = pd.get_dummies(test_data)
fianl_train, final_test = X.align(one_hot_test_data, join='left', axis=1)
test_preds = pipeline_on_full_data.predict(final_test)

# 7 预测结果导出
output = pd.DataFrame({
	'Id': test_data.Id,
	'SalePrice': test_preds
	})
output.set_index('Id').to_csv('submission.csv')

/usr/local/lib/python3.7/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
/usr/local/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

Accuracy: 0.789238

/usr/local/lib/python3.7/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

ValueError: not enough values to unpack (expected 2, got 1)

In [46]:
test_data_path = 'input/test.csv'
test_data = pd.read_csv(test_data_path)
one_hot_test_data = pd.get_dummies(test_data)
fianl_train, final_test = X.align(one_hot_test_data, join='left', axis=1)
test_preds = my_pipeline.predict(final_test)


test_pre = [int(item>0.5) for  item in test_preds]

# 7 预测结果导出
output = pd.DataFrame({
	'PassengerId': test_data.PassengerId,
	'Survived': test_pre
	})
output.set_index('PassengerId').to_csv('submission.csv')

In [45]:
output

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         1
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [43]:
output.to_csv('submission.csv')

In [47]:
val_pre = [int(item>0.5) for  item in val_preds]
score = accuracy_score(val_pre, val_y)
print("Accuracy: %2f" %score)

Accuracy: 0.789238

In [48]:
val_pre = [int(item>0.6) for  item in val_preds]
score = accuracy_score(val_pre, val_y)
print("Accuracy: %2f" %score)

Accuracy: 0.789238

In [49]:
val_pre = [int(item>0.4) for  item in val_preds]
score = accuracy_score(val_pre, val_y)
print("Accuracy: %2f" %score)

Accuracy: 0.816143

In [50]:
val_pre = [int(item>0.3) for  item in val_preds]
score = accuracy_score(val_pre, val_y)
print("Accuracy: %2f" %score)

Accuracy: 0.798206

In [60]:
val_pre = [int(item>0.38) for  item in val_preds]
score = accuracy_score(val_pre, val_y)
print("Accuracy: %2f" %score)

Accuracy: 0.811659

In [61]:
test_pre = [int(item>0.4) for  item in test_preds]

# 7 预测结果导出
output = pd.DataFrame({
	'PassengerId': test_data.PassengerId,
	'Survived': test_pre
	})
output.set_index('PassengerId').to_csv('submission.csv')